.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  justify-content: center;
  padding: 5px;
  border: 2px solid;
}

.article-card {
  border: 2px solid #007bff;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.individual-article-card {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  max-width: 400px;
}

.article-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.h1 {
  text-align: center;
  color: #007bff;

  padding: 10px;
}
