.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  justify-content: center;
  padding: 5px;
  border: 2px solid;
}

.article-card {
  border: 2px solid #007bff;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.individual-article-card {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  max-width: 400px;
}

.article-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.header {
  text-align: center;
  color: #007bff;
  padding: 10px;
}

.header2 {
  text-align: left;
  color: #000000;
  padding: 10px;
}

.button {
  background-color: #230fd5;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.likebutton {
  background-color: #0a745d;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px 5px;
}

.comment-card {
  border: 2px solid #173aad;
  padding: 5px;
  margin: 5px 0;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.comment-author {
  font-weight: bold;
  font-size: 1.5rem;
  color: #000000;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #173aad;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: #333;
}
